body
{
background-image:url("https://www.world-grain.com/ext/resources/Article-Images/2021/04/Wheat_Photo_cred_adobestock_E.jpg?t=1617802100&width=1080");
height: 900px;
background-position: center;
background-repeat: no-repeat;
background-size:cover;
background-position: left  ;
margin:auto;
}

#stacked {
  display: block;
}

.header
{
color:#703517;
text-align:center;
font-family:calibri;
text-shadow: 1px 1px #000000;
font-size : 25px;
padding:5px;
margin-top:-2%;
margin-bottom: 0px;
}

a
{
font-family : calibri;
font-size:20px;
text-decoration:none;
color:#703517;
padding-right:97.7%;
}

a:hover{
color:white;
}

.back-page
{

font-family:calibri;
font-size:12px;
font-weight:bold;
margin-left:2%;
position:absolute;
}


.my-form label
{
display:block;
text-align:center;
float:center;
margin-left:53.5%;
font-family:Arial Narrow;
font-size:25px;
color:#703517;
font-weight:bold;
margin-bottom: -2%;
}

.my-form input
{
display:block;
font-family:Arial Narrow;
font-weight:bold;
text-align:center;
border-radius: 18px;
float:right;
margin-right:10%;
width:25%;
height:30px;
box-shadow: 2.2px 2.2px #703517;
font-size:15px;
background-color:#F4F6F7 ;
}

.my-form button
{
color:#703517;
display:block;
font-family:calibri ;
font-weight:bold;
font-size:20px;
text-align:center;
border-radius: 18px;
width:25.5%;
height:30px;
float:right;
margin-right:10%;
box-shadow: 2.2px 2.2px #703517;
opacity:0.5;
}

.my-form button:hover{
opacity:0.8;
}

.foot
{
color:#000;
font-size:25px;
font-family:calibri;
font-weight:bold;
text-align:center;
margin-top:7%;
}




