<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer Contact</title>
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
    <div class="container">

        <div class="title">
            <header>
                <h1>Contact Details</h1>
            </header>
        </div>

        <br>

        <div class="back-page">
            <a href="index.html" , methods = "GET">
               <input class="button" type="submit"  value="Back" name="" >
            </a>
        </div>

        <br>

        <div class="intro">
            <p>
                Hello I am Adityaraj Chaudhari.I am Pursuing my B.E from SPPU Pune.I am the developer of this project here are my contact details.
                Feel Free to Contact!😉
            </p>
        </div>

        <div class="github">

            <a href="https://github.com/AdityarajChaudhari">Github</a>
        </div>
        <br>

        <div class="linkedin">
            <a href="https://www.linkedin.com/in/adityaraj-chaudhari-4450701b9/">Linkedin</a>
        </div>
        <br>

        <div class="skype">
            <a href="https://chat.whatsapp.com/DHsOZtJhg9hKGoPJe5LjuM">Skype</a>
        </div>

        <div class="foot">
            <footer>Copyright © 2021 by Saud Shaikh and Shivam Pol</footer>
        </div>

    </div>
</body>
</html>