<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Developer</title>
    <link rel="stylesheet" href="../static/css/developer.css">
</head>
<body>
    <div class="container">

        <div class="title">
            <header>
                <h1>About Developer</h1>
            </header>
        </div>

        <br>

        <div class="back-page">
            <a href="index.html" , methods = "GET">
                <input class="button" type="submit"  value="Back" name="" >
            </a>
        </div>

        <br>

        <div class="info">
            <p>
                We all are  Pursuing B.E from Atharva College Of Engineering. We are  developer of this project
            </p>
        </div>

        <div class="foot">
             <footer>Copyright © 2021 by Saud Shaikh and Shivam Pol</footer>
        </div>

    </div>
</body>
</html>