<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How To Use</title>
    <link rel="stylesheet" href="../static/css/how.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <header>
                <h1>How To Use</h1>
            </header>
        </div>

        <div class="back-page">
                <a href="index.html" , methods = "GET">
                    <input class="button" type="submit"  value="Back To Home" name="" >
                </a>
        </div>

        <div class="video-how-to">

            <iframe width="75%" height="500px" src="https://drive.google.com/file/d/1aHl5ZW4-cB6cmsYwXX8N3rdxS56bh-Tc/preview"></iframe>

        </div>

        <div class="steps">
            <h1>Steps to Follow :- </h1>
            <div class="steps_follow">
                <ol class="item_steps">
                    <b>
                    <li>Open the Link.</li>
                    <li>View the info of the app.</li>
                    <li>View about developer.</li>
                    <li>Press the Predictor button to go to the 'App'.</li>
                    <li>Enter the values in the fields.(area,perimeter,etc).</li>
                    <li>If you want to reset/change the values press the 'Reset Button'.</li>
                    <li>Finally after confirming the values press the 'Predict Button'.</li>
                    <li>Yes!!Your Result is ready.</li>
                    <li>If you want to go back to the app press 'Go back to Application' button.</li>
                    </b>
                </ol>
            </div>
        </div>

        <div class="foot">
             <footer>Copyright © 2021 by Saud Shaikh and Shivam Pol</footer>
        </div>

    </div>
</body>
</html>