<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet"  href="../static/css/style.css">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>WHEAT KERNEL CLASSIFIER</h1>
        </div>

        <div class="info">
            <a href="infopage.html",method = "GET">Info</a>
        </div>

         <div class="about">
            <a href="Developerpage.html",method = "GET">Developer</a>
        </div>

        <div class="Contact">
           <a href="Contactpage.html",method = "GET">Contact</a>
        </div>

        <div class="how_to">
            <a href="how_to.html" , methods = "GET">How_To_Use</a>
        </div>

        <div class="quote">
            <p>The time will come that gold will hold no comparison in value to bushel of Wheat </p>
            <p>-Brigham Young</p>
        </div>

        <div class="box">
            <a href= "index1.html" method="GET">
            <input class="button" type="submit"  value="Predictor" name="" >
            </a>
        </div>

        <div class="App">
            <a href=" " , methods = "GET">App</a> 
        </div>

        <div class="foot">
            <footer>Copyright © 2021 by Saud Shaikh and Shivam Pol</footer>
        </div>

    </div>
</body>
</html>